.wp-block-blockylicious-piccy-gallery{
	.image-preview{
		width: 100%;
	}
	.gallery-thubmnails{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 10px;
	}
	.thumb{
		border-radius: 12px;
		border: 5px solid transparent;
		cursor: pointer;
		filter: brightness(0.5);
		transition: 0.2s ease all;
		box-sizing: border-box;
		width: 100%;
		height: 75px;
		object-fit: cover;
		&:hover{
			filter: brightness(1)
		}
		&.selected{
			filter: brightness(1);
			border-color: blue;
			transform: scale(1.05);
		}
	}
}